* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Plus Jakarta Sans-bold";
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Plus Jakarta Sans-italic";
  src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf");
  font-weight: 300;
}
html {
  line-height: 1;
}
:root {
  --c-bg: rgba(2, 8, 34, 1);
  --c-white: rgba(233, 233, 233, 1);
  --c-gold: rgba(233, 233, 89, 1);
  --pad-side: max(21px, 3vmin);
  --pad-vertical: max(34px, 3vmin);
}
a {
  color: var(--c-white);
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
body {
  background: var(--c-bg);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 13px;
}
.canvas {
  position: absolute;
  top: 0`;
  left: 0;
  height: 89%;
  width: 100%;
}
.frame {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 13px;
  bottom: 13px;
  border: 1px solid var(--c-white);
  overflow: auto;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 426px) {
  .frame {
    left: var(--pad-side);
    right: var(--pad-side);
    top: var(--pad-vertical);
    bottom: var(--pad-vertical);
  }
}

.site_header {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
  pointer-events: none;
}
.site_header_title {
  font-size: 27px;
}
span.c1 {
  color: var(--c-white);
}
span.c2 {
  color: var(--c-gold);
}
.site_header_label {
  margin-top: 5px;
  color: var(--c-white);
  pointer-events: auto;
}
.site_header_nav {
  margin-top: 13px;
  pointer-events: auto;
  width: 89px;
}
.site_header_nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.site_header_nav ol li {
  position: relative;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 0.2, 1);
}
.site_header_nav ol li ._dot {
  position: absolute;
  top: 2px;
  font-size: 5px;
  color: var(--c-gold);
  opacity: 0;
}
.site_header_nav ol li ._text {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 0.2, 1);
}
.site_header_nav ol li ._text::before {
  content: "";
  display: block;
}
@media (hover: hover) {
  .site_header_nav ol li ._text:hover {
    opacity: 0.25;
  }
}
.site_header_nav ol li.is-selected {
  pointer-events: none;
}
.site_header_nav ol li.is-selected ._dot {
  opacity: 1;
}
.site_header_nav ol li.is-selected ._text {
  opacity: 0;
}
@media (min-width: 426px) {
  .site_header {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 21px;
    margin-right: 21px;
  }
  .site_header_title {
    font-size: 34px;
  }
}
@media (min-width: 769px) {
  .site_header {
    font-size: 16px;
  }
  .site_header_title {
    font-size: 34px;
  }
  .site_header_nav ol {
    row-gap: 13px;
  }
}
@media (min-width: 1024px) {
  .site_header_label {
    margin-top: 13px;
  }
  .site_header_nav {
    margin-top: 34px;
  }
}
@media (min-width: 1441px) {
  .site_header_title {
    font-size: 55px;
  }
}

.site_content {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid var(--c-white);
}
.content_frame {
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  left: -1px;
  width: 100%;
  border: 1px solid var(--c-white);
  overflow: scroll;
}
.content {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 1.3;
  color: var(--c-white);
}
@media (min-width: 426px) {
  .site_content {
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 13px;
  }
}
@media (min-width: 769px) {
  .site_content {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .site_content {
    position: absolute;
    right: 21px;
    bottom: 13px;
    margin: 0px;
    border: 1px solid var(--c-white);
  }
  .frame_home {
    height: 322px;
    width: 514px;
  }
  .frame_resume {
    top: 13px;
    width: 514px;
  }
  .frame_projects {
    top: 13px;
    width: 514px;
  }
  .content_frame {
    position: absolute;
    top: 3px;
    bottom: 3px;
  }
  .content {
    margin-top: 21px;
    margin-bottom: 21px;
    margin-left: 13px;
    margin-right: 13px;
  }
}
@media (min-width: 1440px) {
  .frame_projects {
    top: 13px;
    width: 832px;
  }
}

.site_footer {
  position: relative;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 8px;
  margin-right: 8px;
  pointer-events: none;
}
.get_in_touch_text {
  color: var(--c-white);
  margin-bottom: 5px;
}
.get_in_touch_frame {
  border: 1px solid var(--c-white);
}
.get_in_touch_nav {
  position: relative;
  margin: 8px;
  white-space: nowarap;
  color: var(--c-white);
  pointer-events: auto;
}
.get_in_touch_nav ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.get_in_touch_nav ol li {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 0.2, 1);
}
.get_in_touch_nav ol li ._text {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 0.2, 1);
}
.get_in_touch_nav ol li ._text::before {
  content: "";
  display: block;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
}
@media (hover: hover) {
  .get_in_touch_nav ol li ._text:hover {
    opacity: 0.25;
  }
}
@media (min-width: 426px) {
  .site_footer {
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 13px;
  }
  .get_in_touch_frame {
    width: 311px;
    border: 1px solid var(--c-white);
  }
  .get_in_touch_nav ol {
    row-gap: 13px;
  }
}
@media (min-width: 769px) {
  .site_footer {
    font-size: 16px;
  }
  .get_in_touch_nav ol {
    row-gap: 21px;
  }
}
@media (min-width: 1024px) {
  .site_footer {
    position: absolute;
    left: 21px;
    bottom: 13px;
    margin: 0px;
    pointer-events: none;
  }
}
